@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --color-primary: #4299e1;
    --color-primary-light: #63b3ed;
    --color-selected: #eff1f7;
    --color-white: #fff;
    --color-grey: #797d81;
    --color-dark: #000;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-grey-light: #777A7E;
    --color-background: #f6f6f9;
  
    --card-border-radius: 1.2rem;
    --border-radius-1: 0.6rem;
  
    --card-padding: 2.8rem;
    --padding: 0.7rem;
    --padding-2: 1.2rem;

  
    --box-shadow: 0 2rem 3rem var(--color-light);
  }

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    appearance: none;
    text-decoration: none;
    list-style: none;
    font-family: "IBM Plex Sans", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* GLOBAL */
body {
    min-height: 100vh;
}

small {
    font-size: 0.45rem;
}

.profile-photo {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.empty-avatar {
    width: 2.4rem;
    height: 2.4rem;
    cursor: pointer;
}

.modal-photo {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.icons {
    padding: var(--padding);
    border-radius: var(--border-radius-1);
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

/* ............................LEFT....................... */
section.left {
    background: var(--color-background);
    min-width: 200px;
}

/* ASIDE */
aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    border-right: solid 1px rgb(190, 189, 189);
    padding: 0.7rem 0 2rem 0;
}

 .container .profile{
    display: flex;
    justify-content: center;
    padding: var(--padding);
}

.container nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: .5rem;
}

aside .icons.selected,
aside .icons:hover,
.calls .icons:hover {
    background: var(--color-selected);
}

aside > div:last-child {
    margin-right: 1rem;
    padding: .5rem;
}

/* -CONTACTS */
.contacts-container {
    flex-grow: 1;
    position: relative;
}

.contacts-container .top {
    display: flex;
    align-items: center;
    padding: var(--padding);
}

.contacts .contact {
    padding: var(--padding-2);
    display: flex;
    align-items: center;
    gap: .5rem;
    justify-content: space-between;
    border-radius: var(--border-radius-1);
}

.contact.selected,
.contact:hover {
   background: var(--color-selected); 
}

.contact-left {
    display: flex;
    align-items: center;
    gap: .5rem;
    flex-grow: 1;
}

.contact-content {
    flex-grow: 1;
}

.contact-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contact-right .text-time {
    font-size: 12px;
}

.contact-right .notification {
    display: flex;
    background: var(--color-primary-light);
    height: 20px;
    width: 20px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    text-align: center;
}

.hide {
    display: none;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: var(--text-color);
    background: transparent;
    opacity: .5;
}
footer .git-logo {
    margin-left: 0.5rem;
}

/* -------------------------RIGHT---------------------- */
section.right {
    min-width: 500px;
    background: var(--color-background);
}

/* CONVERSATION CONTAINER */

.conversation-container {
   display: flex;
   flex-direction: column; 
   flex-grow: 1;
   height: 100vh;
}

.conversation-container .user-details {
    width: 100%;
    padding: var(--padding);
    display: grid;
    grid-template-columns: auto 1fr auto;
    background: var(--color-background);
    gap: 2rem;
}

.user-details .profile {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profile > .name {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name .username {
    font-size: 1.1rem;
    font-weight: 700;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    background: #f0eff5;
}

.search-bar.chat {
    visibility: hidden;
}

.search-bar.chat.active {
    visibility: visible;
}

.search-bar input {
    width: 100%;
    padding: 6px 1rem; 
    border-radius: var(--border-radius-1);
    background: transparent;
    color: #7d8da1;
}

.user-details .calls {
    display: flex;
    align-items: center;
}

.calls:last-child {
    margin-right: 1.6rem;
}

/* MESSAGE CONTAINER */
.day-separator {
    position: fixed;
    top: 4rem;
    left: 66vw;
}

.message-container {
    margin: 1.1rem;
}
.message-container .message {
    position: relative;
    display: inline-block;
    min-width: 80px;
    max-width: 300px;
    word-wrap: break-word;
    padding: 4px 12px; 
    border-radius: 15px;
    text-align: left;
    font-size: 1.1rem;
    font-weight: 400;
}

.message-container > .name {
    font-size: .9rem;
    font-weight: 600;
} 

.message-container .time {
    margin-left: .5rem;
    font-size: .65rem;    
}

/* SEND TEXT FORM */
.send-form {
    display: flex;
    align-items: center;
    width: 100%;
    padding: .2rem 0;
    background: #f0eff5;
    border-radius: var(--border-radius-1);
    
}

.send-form input[type="text"] {
    flex-grow: 1;
    padding: .6rem 1rem;
    background: var(--color-background);    
    font-size: 1.1rem;
    color: #7d8da1;
}

.send-form label,
.send-form button {
    background: transparent;
    padding: 1rem;
    cursor: pointer;
}

