body.active-modal {
    overflow: hidden;
}

.modal.overlay {
    width: 100vw;
    height: 100vh;
    background: rgba(49,49,49,0.8);   
    position: fixed;   
    display: flex; 
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
}

.modal-content {
    line-height: 1.4;
    background: var(--color-background);
    border-radius: var(--border-radius-1);
    width: clamp(300px, 50%, 500px);
}

.modal-form {
    position: relative;
    display: flex;
    flex-direction: column;
}

.modal-content h2 {
    width: 100%;
    text-align: left;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: .3px;
    padding: 1.2rem;
    background: linear-gradient(to right, #63b3ed, #A4D4F4);
    color: var(--color-white);
}

.modal-form label {
    margin: 0 auto;
    padding: 1.2rem;
}

.modal-form .info {
    display: flex;
    flex-direction: column;
}

.info .joined,
.info .name {
    display: flex;
    align-items: center;
    gap: .8rem;
    padding: 1.2rem;    
}

.info .name:hover,
.info .joined:hover  {
    background: var(--color-selected); ;
}

.info p {
    font-size: 1.2rem;
    font-weight: 500;
}

.modal-form .btns {
    display: flex;
    justify-content: flex-end;
    padding: 1.2rem;
    gap: 1rem;
}

.btns .btn {
    padding: 10px 20px;
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--color-grey-light);
    background-color: transparent;
    border-radius: 0.375rem;
    border-width: solid 0.0625rem #e5e7eb;;
    transition-property: all 0.2s;
    outline: none;
    opacity: .8;
}

.btn.cancel:hover {
    background-color: #E8EAED;
    color: #000;
    opacity: 1;
}

.btn.save {
    background: var(--color-primary-light);
    color: var(--color-white);
}

.btn.save:hover {
    opacity: 1;
    background: #48A6EA;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 3px;
    color: var(--color-white);
}

.close-modal:hover {
    color: var(--color-dark)
}