@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

html {
  font-size: 14px;
}

.registration {
  position: relative;
  height: 100vh;
  background: var(--color-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.registration .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: clamp(400px, 60%, 500px);
}

.registration .header h2 {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--color-dark);
}

.registration .header h2:hover{
  color: var(--color-primary-light);
}

.registration .container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  padding: var(--card-padding);
  width: clamp(400px, 60%, 500px);
  border-radius: var(--card-border-radius);
  font-size: 1.2rem;
  font-weight: 500;
  box-shadow: var(--box-shadow);
}

.registration .container:hover {
  box-shadow: none;
}

.registration form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: .4rem;
}

.form-group:first-child{
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-group .profile-photo {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    overflow: hidden;
}

.form-group input[type="text"],
.form-group input[type="password"] {
  border: solid 1px var(--color-grey);
  border-radius: var(--border-radius-1);
  padding: var(--padding);
  font-size: 0.88rem;
  color: var(--color-grey);
}

.form-group input[type="text"]:focus,
.form-group input[type="password"]:focus {
  border: solid 2px var(--color-primary-light);
}

.registration .btn {
  border: solid 1px black;
  width: 100%;
  border-radius: var(--border-radius-1);
  padding: var(--padding);
  background: var(--color-primary-light);
  color: var(--color-white);
}

.registration .btn:hover {
  background: var(--color-primary);
}

.redirect {
  text-align: center;
  font-size: 1rem;
}

.redirect button {
  margin-left: .3rem;
  color: var(--color-primary-light);
}

.redirect button:hover {
  color: var(--color-primary);
}